<div class="container">
  <button id="button1"class="btn btn-info" type="button" [routerLink]="['/products/form']">Añadir producto</button>
  <button id="button2"class="btn btn-info" type="button" (click)="exportexcel()">Expotar en Excel</button>
  <table  id="excel-table" class="table table-striped">
      <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">STATUS</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productos of productos">
            <th scope="row">{{productos.id}}</th>
            <td>{{productos.name}}</td>
            <td>{{productos.status}}</td>
            <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/products/form/',productos.id]"><i class="bi bi-pencil"></i></button></td>
            <td><button type="button" name="button" class="btn btn-danger" (click)="delete(productos)"><i class="bi bi-trash"></i></button></td>
          </tr>
        </tbody>
    </table>
    </div>